/* GLOBAL */

html, body {
	margin: 0;
	padding: 0;
	color: #222;
	font-size: 20px;
	font-weight: 700;
	font-family: 'Amatic SC', cursive;
}

a {
	color: #7eb7cd;
}


/* GENERAL */

.text {
	line-height: 1.6em;
	text-align: justify;
}

.heading {
	font-size: 3em;
	font-weight: 400;
	text-align: right;
	margin-bottom: 0.5em;
	font-family: 'Dancing Script', cursive;
}

.card {
	padding: 1em;
	border-radius: 1em;
	background-color: white;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}


/* PAGE */

#page {
	margin: auto;
	padding: 0 2em;
	max-width: 1000px;
	box-sizing: border-box;
	transition: padding 0.3s ease;
}


/* NAVBAR */

#navbar_container {
	text-align: center;
}
#navbar {
	display: flex;
	padding: 3em 0;
	align-items: flex-end;
	justify-content: space-between;
}

#banner {
	font-size: 2em;
	font-weight: 400;
	font-family: 'Dancing Script', cursive;
}
#straight span {
	display: inline-block;
	font-family: 'Amatic SC', cursive;
	transition-timing-function: cubic-bezier(.84,.09,.58,1.4);
	transition-property: transform;
}
#straight span:not(:first-child) {
	margin-left: -0.26em;
}
#straight span:nth-child(1) {transition-duration: 0.15s;}
#straight span:nth-child(2) {transition-duration: 0.18s;}
#straight span:nth-child(3) {transition-duration: 0.21s;}
#straight span:nth-child(4) {transition-duration: 0.24s;}
#straight span:nth-child(5) {transition-duration: 0.27s;}
#straight span:nth-child(6) {transition-duration: 0.3s;}
#straight span:nth-child(7) {transition-duration: 0.33s;}
#straight span:nth-child(8) {transition-duration: 0.36s;}

#nav_links_container {
	display: flex;
	column-gap: 1.5em;
}
#nav_links_container a {
	color: inherit;
	margin-bottom: 0.3em;
	text-decoration: none;
	transition: color 0.2s ease;
}
#nav_links_container a.active {
	color: #aaa;
	pointer-events: none;
	text-decoration: line-through;
}
#nav_links_container a:hover {
	color: #aaa;
}


/* HERO */

#hero_container {
	padding: 1em;
	border-radius: 1em;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
#hero {
	width: 100%;
	display: flex;
	overflow: hidden;
	border-radius: 0.5em;
	background-size: 30%;
	box-sizing: border-box;
	padding: 1.5em 1em 0 1em;
	justify-content: space-evenly;
	background-image: url("../Assets/Images/background.png");
}
#hero img {
	width: 25%;
	max-width: 180px;
	display: inline-block;
	transition: 0.2s ease;
}


/* ABOUT US */

.profile-card {
	display: grid;
	row-gap: 0.5em;
	column-gap: 1em;
	transition: 0.2s ease;
	grid-template: 
		"profile-image profile-header"
		"profile-image profile-bio"
		/ auto 1fr;
}
.profile-card:not(:last-child) {
	margin-bottom: 2em;
}

.profile-card .profile-image-container {
	width: 150px;
	height: 150px;
	display: flex;
	overflow: hidden;
	background-size: 100%;
	align-items: flex-end;
	border-radius: 0.5em 0.2em 0.2em 0.5em;
	background-image: url("../Assets/Images/background.png");
	grid-area: profile-image;
}
.profile-card .profile-image-container img {
	width: 100%;
	object-fit: contain;
}

.profile-card .profile-header {
	display: flex;
	align-self: flex-end;
	align-items: flex-end;
	justify-content: space-between;
	grid-area: profile-header;
}
.profile-card .profile-header .profile-pronouns {
	color: #999;
	font-size: 0.9em;
	margin-bottom: 0.2em;
}
.profile-card .profile-header .profile-intro {
	font-size: 1.3em;
	margin-right: 0.2em;
	font-family: 'Dancing Script', cursive;
}

.profile-card .profile-bio {
	align-self: flex-start;
	grid-area: profile-bio;
}


/* DEVICES */

@media (pointer:fine) {
	#hero img:hover {
		transform: scale(1.07);
	}
	#navbar:hover #straight span {
		transform: rotate(20deg) translate(0.1em, 0.01em);
	}
	.profile-card:hover {
		transform: scale(1.01);
		box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
	}
}


/* BREAKPOINTS */

@media only screen and (max-width: 900px) {
	.profile-card {
		row-gap: 0.7em;
		align-items: flex-end;
		grid-template: 
		"profile-image profile-header"
		"profile-bio profile-bio"
		/ auto 1fr;
	}
	.profile-card .profile-image-container {
		width: 100px;
		height: 100px;
		border-radius: 0.5em 0.2em 0.2em 0.2em;
	}
	.profile-card .profile-header {
		row-gap: 0.5em;
		align-items: flex-start;
		flex-direction: column-reverse;
	}
}

@media only screen and (max-width: 730px) {
	#navbar {
		row-gap: 0.8em;
		padding: 2.5em 0;
		align-items: center;
		display: inline-flex;
		flex-direction: column;
	}
	#nav_links_container {
		width: 90%;
		justify-content: space-evenly;
	}
}

@media only screen and (max-width: 440px) {
	body {
		font-size: 18px;
	}
	#page {
		padding: 1.5em;
	}
	#navbar {
		padding: 1.8em 0;
	}
	#banner {
		font-size: 10vw;
	}
	#hero {
		padding: 2em 0.5em 0 0.5em;
	}
	#hero_container {
		padding: 0.5em;
	}
}